---
import type { CollectionEntry } from 'astro:content';
import BlogPostPreview from './BlogPostPreview.astro';

type Props = {
  posts: CollectionEntry<'blog'>[];
  showDescription?: boolean;
};

const { posts, showDescription = true } = Astro.props;
---

<section>
  <ul class="m-0 list-none space-y-8 p-0">
    {posts.map((post) => <BlogPostPreview post={post} showDescription={showDescription} />)}
  </ul>
</section>
