---
type Props = {
  currentPage: number;
  lastPage: number;
  prevUrl?: string;
  nextUrl?: string;
};

const { currentPage, lastPage, prevUrl, nextUrl } = Astro.props;
---

<nav class="mt-16 flex justify-between text-green-500">
  {
    prevUrl ? (
      <a href={prevUrl} class="transition-colors hover:text-green-400">
        &lt; prev
      </a>
    ) : (
      <span class="text-green-900">&lt; prev</span>
    )
  }

  <span class="text-green-700">
    {currentPage} / {lastPage}
  </span>

  {
    nextUrl ? (
      <a href={nextUrl} class="transition-colors hover:text-green-400">
        next &gt;
      </a>
    ) : (
      <span class="text-green-900">next &gt;</span>
    )
  }
</nav>
