---

---

<footer class="mx-auto mt-auto max-w-6xl px-6 py-12 font-mono text-sm">
  <nav
    aria-label="Footer links"
    class="flex flex-col gap-4 border-t border-green-400/20 pt-6 text-green-500/70 lg:flex-row lg:items-center lg:justify-between"
  >
    <div>
      <span class="font-bold text-green-500">$</span> cat ~/.file/links
    </div>

    <ul class="m-0 flex list-none flex-wrap gap-x-6 gap-y-3 p-0 text-green-400">
      <li>
        <a
          href="https://github.com/dandrok"
          target="_blank"
          rel="noopener noreferrer"
          class="no-underline transition-colors hover:text-green-300"
        >
          github=github.com/dandrok
        </a>
      </li>
      <li>
        <a href="/about/" class="no-underline transition-colors hover:text-green-300">
          about=/about/
        </a>
      </li>
      <li>
        <a href="/blog/" class="no-underline transition-colors hover:text-green-300">
          writing=/blog/
        </a>
      </li>
      <li>
        <a href="/rss.xml" class="no-underline transition-colors hover:text-green-300">
          rss=/rss.xml
        </a>
      </li>
    </ul>
  </nav>
</footer>
