---
---
<footer class="max-w-6xl mx-auto px-6 py-12 mt-auto font-mono text-sm">
  <nav
    aria-label="Footer links"
    class="border-t border-green-400/20 pt-6 text-green-500/70 flex flex-col gap-4 lg:flex-row lg:items-center lg:justify-between"
  >
    <div>
      <span class="text-green-500 font-bold">$</span> cat ~/.file/links
    </div>

    <ul class="list-none m-0 p-0 flex flex-wrap gap-x-6 gap-y-3 text-green-400">
      <li>
        <a href="https://github.com/dandrok" target="_blank" rel="noopener noreferrer" class="hover:text-green-300 transition-colors no-underline">
          github=github.com/dandrok
        </a>
      </li>
      <li>
        <a href="/about/" class="hover:text-green-300 transition-colors no-underline">
          about=/about/
        </a>
      </li>
      <li>
        <a href="/blog/" class="hover:text-green-300 transition-colors no-underline">
          writing=/blog/
        </a>
      </li>
      <li>
        <a href="/rss.xml" class="hover:text-green-300 transition-colors no-underline">
          rss=/rss.xml
        </a>
      </li>
    </ul>
  </nav>
</footer>
