---
type Props = {
  tags?: string[];
  class?: string;
};

const { tags = [], class: className = '' } = Astro.props;
---

{
  tags && tags.length > 0 && (
    <ul class={`m-0 flex list-none flex-wrap gap-2 p-0 ${className}`}>
      {tags.map((tag: string) => (
        <li class="mb-0 border border-green-500/30 bg-green-500/5 px-2 py-1 text-xs text-green-500 before:hidden">
          #{tag}
        </li>
      ))}
    </ul>
  )
}
